In [ ]:
#All imports below.
import pandas as pd
import matplotlib.pyplot as plt

In [62]:
#Cleaning our first dataset, our management consulting. Just want data on a quarterly basis.
pd.set_option('display.max_rows', None)
rev_df = pd.read_csv("datasets/total_revenue.csv", skiprows=0)
rev_df = rev_df.drop(rev_df.index[0:34]).reset_index(drop=True)
rev_df = rev_df.iloc[:111]
rev_df.rename(columns={'Title': 'Quarter', 'GBServTO: 70.2 - Management consulting services TOTAL (£m)': 'Management Consulting Services Total (£m)'}, inplace=True)
print(rev_df)

     Quarter Management Consulting Services Total (£m)
0    1998 Q1                                       0.0
1    1998 Q2                                       0.0
2    1998 Q3                                       0.0
3    1998 Q4                                       0.0
4    1999 Q1                                       0.0
5    1999 Q2                                       0.0
6    1999 Q3                                       0.0
7    1999 Q4                                       0.0
8    2000 Q1                                    3593.1
9    2000 Q2                                    3801.0
10   2000 Q3                                    4121.5
11   2000 Q4                                    4448.2
12   2001 Q1                                    4839.4
13   2001 Q2                                    4519.8
14   2001 Q3                                    4931.2
15   2001 Q4                                    4541.3
16   2002 Q1                                    4402.1
17   2002 Q2                                    4555.6
18   2002 Q3                                    4575.9
19   2002 Q4                                    4791.7
20   2003 Q1                                    4708.1
21   2003 Q2                                    4660.5
22   2003 Q3                                    4887.0
23   2003 Q4                                    5740.4
24   2004 Q1                                    5364.0
25   2004 Q2                                    5385.2
26   2004 Q3                                    5393.0
27   2004 Q4                                    5669.6
28   2005 Q1                                    5798.1
29   2005 Q2                                    5988.4
30   2005 Q3                                    5876.7
31   2005 Q4                                    6627.1
32   2006 Q1                                    6695.3
33   2006 Q2                                    6748.0
34   2006 Q3                                    7017.0
35   2006 Q4                                    7927.9
36   2007 Q1                                    8099.5
37   2007 Q2                                    8376.3
38   2007 Q3                                    8666.6
39   2007 Q4                                    9717.7
40   2008 Q1                                   10405.3
41   2008 Q2                                   10555.2
42   2008 Q3                                   10165.3
43   2008 Q4                                   10331.2
44   2009 Q1                                    9820.7
45   2009 Q2                                    9069.8
46   2009 Q3                                    8974.7
47   2009 Q4                                    9110.5
48   2010 Q1                                    8960.9
49   2010 Q2                                    7378.7
50   2010 Q3                                    7484.2
51   2010 Q4                                    7775.2
52   2011 Q1                                    7780.5
53   2011 Q2                                    8196.3
54   2011 Q3                                   10039.0
55   2011 Q4                                   10506.4
56   2012 Q1                                   10847.8
57   2012 Q2                                   10491.8
58   2012 Q3                                   10519.8
59   2012 Q4                                   10829.0
60   2013 Q1                                   10995.9
61   2013 Q2                                   11764.0
62   2013 Q3                                   11702.6
63   2013 Q4                                   11881.1
64   2014 Q1                                   12323.4
65   2014 Q2                                   12861.9
66   2014 Q3                                   12433.3
67   2014 Q4                                   13199.5
68   2015 Q1                                   13322.1
69   2015 Q2                                   13783.7
70   2015 Q3                                   13784.3
71   2015 Q4                                   14647.5
72   2016 Q1                                   14614.7
73   2016 Q2                                   16001.3
74   2016 Q3                                   15811.6
75   2016 Q4                                   17241.8
76   2017 Q1                                   17069.9
77   2017 Q2                                   17265.1
78   2017 Q3                                   17291.4
79   2017 Q4                                   18499.6
80   2018 Q1                                   16426.8
81   2018 Q2                                   16857.6
82   2018 Q3                                   16989.7
83   2018 Q4                                   18833.9
84   2019 Q1                                   17776.3
85   2019 Q2                                   18269.3
86   2019 Q3                                   18899.3
87   2019 Q4                                   19626.5
88   2020 Q1                                   17724.5
89   2020 Q2                                   15127.9
90   2020 Q3                                   15749.9
91   2020 Q4                                   17113.6
92   2021 Q1                                   17534.1
93   2021 Q2                                   17584.3
94   2021 Q3                                   18294.4
95   2021 Q4                                   20322.6
96   2022 Q1                                   19102.9
97   2022 Q2                                   20170.7
98   2022 Q3                                   20394.7
99   2022 Q4                                   21536.8
100  2023 Q1                                   21505.0
101  2023 Q2                                   21371.4
102  2023 Q3                                   20619.9
103  2023 Q4                                   23210.1
104  2024 Q1                                   22778.5
105  2024 Q2                                   22212.1
106  2024 Q3                                   23002.4
107  2024 Q4                                   24037.7
108  2025 Q1                                   23566.0
109  2025 Q2                                   22688.6
110  2025 Q3                                   21711.3