In [16]:
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
#calculating basic summary stats
mc_final = pd.read_csv('../datasets/management_consulting_final.csv')

mc_final.agg({
    "Management Consulting Services Total (£m)": ["min", "max", "median", "skew", "mean", "std"],
    "Gross Added Value": ["min", "max", "median", "skew", "mean", "std"],
    "Hours Worked": ["min", "max", "median", "skew", "mean", "std"],
    "Hourly Output": ["min", "max", "median", "skew", "mean", "std"]
}).round(2)

,Management Consulting Services Total (£m),Gross Added Value,Hours Worked,Hourly Output
min,0.00,33.69,50.38,62.25
max,24037.70,101.67,113.47,97.21
median,10499.10,58.68,67.72,79.11
skew,0.15,0.69,0.38,0.14
mean,11341.20,61.21,76.39,79.66
std,6598.97,17.53,18.55,7.76