In [1]:
%%capture
%run cleaning_totalrev.ipynb
%run cleaning_masterproductivityds.ipynb

In [2]:
#test import success
from IPython.display import display
display(rev_df.head())
display(GVA2025_table23.head())

   Quarter  Management Consulting Services Total (£m)
0  1998 Q1                                        0.0
1  1998 Q2                                        0.0
2  1998 Q3                                        0.0
3  1998 Q4                                        0.0
4  1999 Q1                                        0.0

   Quarter  Gross Added Value
0  1997 Q1          29.124409
1  1997 Q2          30.817924
2  1997 Q3          34.448335
3  1997 Q4          33.393690
4  1998 Q1          33.809464

In [3]:
merged_df = (
    rev_df
    .merge(GVA2025_table23, on='Quarter', how='inner')
    .merge(HoursWorked2025_table25, on='Quarter', how='inner')
    .merge(HourlyOutput2025_table27, on='Quarter', how='inner')
)
display(merged_df.head(10))

,Quarter,Management Consulting Services Total (£m),Gross Added Value,Hours Worked,Hourly Output
0,1998 Q1,0.0,33.809464,50.378520,67.110871
1,1998 Q2,0.0,38.271420,51.292872,74.613526
2,1998 Q3,0.0,36.111428,51.825957,69.678265
3,1998 Q4,0.0,34.752559,52.659953,65.994284
4,1999 Q1,0.0,34.073125,52.409472,65.013295
5,1999 Q2,0.0,33.687774,54.114369,62.252918
6,1999 Q3,0.0,34.184674,54.815918,62.362676
7,1999 Q4,0.0,39.518740,54.950138,71.917454
8,2000 Q1,3593.1,37.024101,53.554164,69.133934
9,2000 Q2,3801.0,38.656771,55.222715,70.001577

In [4]:
#saving as csv
import pandas as pd
merged_df.to_csv('../datasets/management_consulting_final.csv', index=False)